<footer class="page-footer font-smal bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">Minhas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.instagram.com/ernesto_terra/" target="_blank" class="icoInstagram" title="instagram">
              <fa-icon [icon]=faInstagram></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ernesto-santos-324a32215/" target="_blank" class="icoLinkedin" title="linkedin">
              <fa-icon [icon]=faLinkedin></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">&copy; 2021 Copyright: </span>
    <a href="#" class="text-light copy">Noticias.Ernesto</a>
  </div>
</footer>
