<nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white ms-5" routerLink='/home'>Noticias do mundo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink='/feed'>Feed Noticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink='/news'>Insira uma notícia</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-5" type="search" placeholder="Pesquise uma notícia" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
